/* ==UserStyle==
@name           nexusmods rewind
@namespace      github.com/openstyles/stylus
@version        1.1.0
@description    More fixes and personal taste adjustments of Lummox JR original css v1.0.4 and jmharris css v1.0.0 merge
@author         pilonexyz
@updateURL      https://raw.githubusercontent.com/pilonexyz/nexusmods-rewind/refs/heads/main/nexusmods-rewind.css
==/UserStyle== */

@-moz-document domain("next.nexusmods.com"), domain("www.nexusmods.com") {
	/* Import fonts (use one of these for the mod header) */
	@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

	/* Awful big game-name header below breadcrumbs */
	#mainContent nav:first-child + div {
		display: none;
	}

    /*.sm\:typography-heading-lg {
        font-size: 1.5rem;
        font-weight: 400;
    }*/
    
    /*.typography-body-xl {
        font-size: 1rem;
    }*/
    
    /*.typography-body-lg {
        font-size: 0.85rem;
    }*/
    
    /*.typography-body-md {
        font-size: .75rem;
    }*/
    
    #mainContent {
        > div.relative > div.next-container.relative {
            *background-color: #434343;
            
            > div.pb-20.pt-8 
            > section[aria-labelledby="more-mods-header"] 
            > div.border-stroke-weak.border-t.pt-4 
            > div.xs\:items-start.mb-6.flex.flexcol.gap-2.sm\:flex-row 
            > div:after {
                background: none;
            }
            
        }
        
        > div.relative > div.next-container-fluid {
            background-color: #434343;
            
            > div.border-stroke-subdued {
                padding-bottom: 0;
                border-bottom: none;
                display: none;
            }
            > div.border-stroke-subdued > div.flex {
                margin-top: 0.5em;
            }
            > div.border-stroke-subdued > div.flex > div.flex {
                column-gap: 0.75em;
            }
            > div.border-stroke-subdued > div.flex > div.flex > img {
                height: 2rem;
            }
            > div.border-stroke-subdued > div.flex > div.flex > div.w-full > h3 {
                display: none;
            }
            > div.sm\:flex {
                > div.peer\/filters,
                > div.w-full {
                    padding-top: 1em;
                }
            }
        }
        div.mods-grid {
            grid-template-columns: repeat(auto-fill, minmax(13.074rem, 1fr));
            *margin-bottom:2rem;
            

            > div.group\/mod-tile {
                background-color: #383838;
                > div.px-3.pb-5.pt-3 {
                    padding-bottom: 1.60rem;
                }
                > div.relative > a > div.group\/image {
                    background-color: #383838 !important;
                }
                > div.min-h-8 {
                    background-color: #2d2d2d;
                    padding-top: 0.60rem;
                    padding-bottom: 0.60rem;
                }
                > div.relative > a > div.group\/image:hover > img {
                    transform: none;
                }

                a {
                    color: #da944c;
                    padding-top: 0.0rem;
                    margin-bottom: 0.2rem;  
                }
                a[data-e2eid="mod-tile-title"],
                time {
                    color: #e1e1e1;
                    
                }
                p[data-e2eid="mod-tile-updated"] {
                    svg {
                        display: none;
                    }
                    &::before {
                        content: "Last update:";
                        color: #8e8e8e;
    
                    }
                    & a[data-e2eid="mod-tile-title"], & time {color: #e1e1e1; font-size: 10px;}
                }
                p[data-e2eid="mod-tile-uploaded"] {
                    svg {
                        display: none;
                    }
                    &::before {
                        content: "Uploaded:";
                        color: #8e8e8e;
                        
                    }
                    & a[data-e2eid="mod-tile-title"], & time {color: #e1e1e1; font-size: 10px;}
                }
            }
        }
    }


    .max-w-32 {
	max-width: 18rem;
}
    
    .max-w-32:hover {
    pointer-events: none;
}
    
    .max-w-32:focus {
    pointer-events: none;
}
         
    .border-t {
	border-top-width: 1px;
}
    
    .border-b, .border-y {
	border-bottom-width: 1px;
}
    
    .typography-heading-sm {
	font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0;
}

      
    .after\:border-b-stroke-strong::after {
	content: var(--tw-content);
	border-bottom-color: hsla(0, 0%, 100%, 0);
}
    
      
    .bg-neutral-strong {
	--tw-bg-opacity: 1;
	background-color: #8e8e8e;
}
     
    
	/* Get rid of egregious vertical padding */
	/*
		RANT

		CSS designers, name your classes according to their function, not the attributes you mean
		to apply. Classes should be things like mod-tile-title, mod-tile-footer,
		fileinfo-antivirus-status, etc.

		I know we're all guilty of this to some degree and I've done MUCH WORSE but please, these
		classes are bad.
	 */
	.pt-4, .pt-6, .py-4, .py-6 {padding-top: 0.5rem;}
	.pb-4, .pb-6, .py-4, .py-6 {padding-bottom: 0.5rem;}
    .pb-6 {*display:none;}
	.mt-4, .mt-6, .my-4, .my-6 {margin-top: 0.5rem;}
	.mb-6, .my-4, .my-6 {margin-bottom: 0.5rem;}
    .mb-4 {margin-bottom: 1.0rem!important;}

	.pt-8, .py-8 {padding-top: 1rem;}
	.pb-8, .py-8 {padding-bottom: 1rem;}
	.pt-10, .py-10 {padding-top: 1.5rem;}
	.pb-10, .py-10 {padding-bottom: 1.5rem;}
	.mt-8, .my-8 {margin-top: 1rem;}
	.mb-8, .my-8 {margin-bottom: 1rem;}
	.mt-10, .my-10 {margin-top: 1.5rem;}
	.mb-10, .my-10 {margin-bottom: 1.5rem;}

	/* Holy frell, dudes, WHY? */
	.pt-20, .py-20 {padding-top: 1.5rem;}
	.pb-20, .pb-20 {padding-bottom: 1.5rem;}
    .pb-2 {padding-bottom: .001rem;}

	/* Get rid of egregious spacers */
	.space-y-6 > :not([hidden]) ~ :not([hidden]) {margin-top: 0.5rem; margin-bottom: 0.5rem;}
	.space-y-5 > :not([hidden]) ~ :not([hidden]) {margin-top: 0.5rem; margin-bottom: 0.5rem;}

	.space-y-5 > :last-child, .space-y-6 > :last-child {margin-bottom: 0;}

	/* Mod list has a ton of wasted vertical space */
	.group\/mod-tile {
		/* Don't enforce tile min-height */
		&.min-h-\[28rem\] {min-height: unset;}

		/* Radically reduce egregious padding */
		& > :nth-child(2) {padding-top: 0.2rem; padding-bottom: 0.2rem;}
		.py-2 {padding-top: 0.0rem; padding-bottom: 0.2rem;}
        .pt-2 {padding-top: 0.0rem;}
        
        .sm\:px-0 {padding-left: 0; padding-right: 0;}

        .font-semibold {font-weight:550; font-stretch: semi-condensed;}
        .text-danger-strong {--tw-text-opacity:1; color:#c06c08;}
        .rounded-full {display:none;}
        
        .text-neutral-inverted {
	    color: rgb(15 15 16/var(--tw-text-opacity));
        }
        
        .divide-y > :not([hidden]) ~ :not([hidden]) {border-top-width: calc(0px * calc(1 - var(--tw-divide-y-reverse)));} 
        
        
    
		/* Mod title font was too big */
		.typography-body-xl {    
            font-size: 0.91rem; 
            -webkit-line-clamp: 2; 
            color: rgb(225 225 225/var(--tw-text-opacity)); 
            margin-top: 0.5rem; 
            margin-left: 0.1rem;
            *font-family: Roboto,sans-serif;
	        line-height: 1.35;
            font-stretch: 100%;
            font-weight: 600;
        }

        /*.typography-body-xl:hover {   
            -webkit-line-clamp: 3; 
              }*/
        
		/* Smaller text for author/category/times */
		.typography-body-sm {
            margin-left: 0.1rem;
            font-size: 0.64rem; 
            line-height: 1.2; 
            font-weight: 500; 
            font-stretch: ultra-condensed;  
            letter-spacing:normal;
        }
        
        .space-y-0\.5 > :not([hidden]) ~ :not([hidden]) {
	    margin-top: calc(0.02rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: 0.2rem;
        }

		/* Description 1.5 line-height wasted space */
		.typography-body-md {
            line-height: 1.45; 
            margin-top: 0.2rem;
            margin-left: 0.1rem;
            min-height:100px;
            max-height:100px;
            white-space:break-spaces;
            overflow: hidden;
            position: relative;
            text-shadow: 0 0 2px rgba(0,0,0,.4);
            font-family: Inter,sans-serif; 
            font-stretch: normal;
            -webkit-line-clamp: 5; 
        }
        
           /* .typography-body-md::before {
            content:'';
            background: -webkit-linear-gradient( top, rgba(56, 56, 56, 0) , rgba(56, 56, 56, 1)100%);
            background: linear-gradient(to bottom, #38383800, #383838);
            pointer-events: none;
            width: 100%;
            height: 30px;
            position: absolute;
            bottom: 0rem;
            left: 0;
                
        } */
        
    		
		/* Bottom box with endorsements/downloads/size */
		.min-h-8 {min-height: 1.5rem;
        }
	}

    
        .text-neutral-subdued {
	    --tw-text-opacity: 1;
	    color: #9f9f9f;
        *background-color: #383838;
    }
    
        .px-1 {
        font-family: var(--font-inter),ui-sans-serif,system-ui,sans-serif!important;
        font-weight: normal;
        font-size: 16px;
    }
          
        .px-1:hover {background-color:#fff!important;
        color: #828282!important;  
    }
    
    
        .min-h-8 {
	    *min-height: 2.6rem;
        *max-height: 2.6rem;
        *background-color: #fff;
    }
    
    
        .gap-x-2 {
	    -moz-column-gap: 0.4rem;
	    column-gap: 0.4rem;
    }
    
	
    .divide-solid > :not([hidden]) ~ :not([hidden]) {
	padding-top: 0.0rem;
    }
    
	.mods-grid, .profile-mods-grid {row-gap: 0.6rem;}
    
    .mods-grid {-moz-column-gap: 0.6rem; column-gap: 0.6rem;}
    
    .mods-grid {background-color: #444444;}
    
    
    .py-3 {
	padding-top: .75rem;
    *padding-bottom: .50rem;
    background-color: #444444;
        padding-left: .50rem;
    }
    
    .p-1 {
	*padding-left: .50rem;
}
    
    .sm\:px-0 {
	*padding-left: 11.5rem;
	*margin-left: -0.4rem;
}
    
    
	/* Too much space between mods-grid and pagination */
	.xs\:mb-10 {margin-bottom: 1.5rem;}

	/* Remove wide gutters, but make allowances for very wide screens */
	.next-container {width: min(max(90%, 2000px), 100%);}
    
    .next-container {
	*width: 1332px;
    }
	
	/* Title on mod page */
	#featured h1 {
		/* Use a nice condensed font */
		*font-family: 'Saira Condensed','Cabin Condensed',sans-serif;
        font-family: 'bebas_neuebook';
	    font-weight: normal;
		margin-bottom: 0.5rem;
	}
	
    .tabcontent {position:relative; background:#444444;}
    ul.modtabs li:first-child a.selected {
	background:#444444;
    }
    
    ul.modtabs li a.selected, .tabcontent {
	background:#444444;
    }
    
    ul.modtabs li a {
	color: #f9f9f9;
    border-top: 0px solid var(--stroke-neutral-translucent-weak);
    }
    
    span.alert {
    font-size: 11px;
    font-family: Roboto,sans-serif;
	background-color: #b4762c;
    color: rgb(177 177 177/var(--tw-text-opacity));
	font-weight: 700;
	margin-left: 5px;
        
}
    .modtabs .alert {
	color: #f6eee5;
}
     
    
    /* Tag Button */
    
    a.btn.btnsmall.js-toggle, a.btn.btnsmall.popup-btn-ajax {
    font-size: 11px;
	padding: 5px 8px;
	display: inline-block;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #d98f40;
    height: 1.6rem;
    border-radius: 0px;
    padding-top: 0.35rem;  
}
    
    a.btn.btnsmall.js-toggle:hover, a.btn.btnsmall.popup-btn-ajax:hover {
        background-color: #b4762c;
    }
    
    ul.tags li a.btn, ul.tags li a.btn:visited {
	font-size: 11px;
        padding-top: 0.01rem; 
        padding-bottom: 0.01rem;  
}
   
    .bg-neutral-50 {
	opacity: 0.92;
	background-color: #d98f40;
    border-radius: 0px;
    *margin-top: -0.74rem; 
    margin-top: -0.10rem; 
    margin-left: -0.60rem;   
}
    
    .py-1 {
	padding-right: .25rem;
	padding-left: .25rem;
}
    
    .bg-neutral-50:hover {
    pointer-events: none;
   
}
    
    
    .text-neutral-inverted {
	color: #fff !important;
    font-weight: 520;
    letter-spacing: -.4px;
    font-stretch:ultra-condensed;
    font-size: 14px;
    border-radius: 0px;
    font-family: var(--font-inter),ui-sans-serif,system-ui,sans-serif !important;
}
       
    .shadow-md {
	--tw-shadow: 0px 0px 0px rgba(0,0,0,.14),0px 0px 0px rgba(0,0,0,.12),0px 0px 0px rgba(0,0,0,.2);
} 
    
    .py-1 {
	*padding-top: 0.14rem;
	padding-bottom: 0.26rem;
    *padding-left: 0.21rem;
	*padding-right: 0.21rem; 
    border-radius: 0px;

}
        
    .hover\:\!text-neutral-strong:hover {
    --tw-text-opacity:0!important;
    color:rgb(244 244 245/var(--tw-text-opacity))!important;
}
    
    .bg-neutral-strong {
	background-color: #d98f40;
    *text-transform: uppercase;
    border: 0px solid var(--stroke-neutral-translucent-moderate);
}
    
    .bg-neutral-strong:hover {
	background-color: #b4772c;
}

    
    .flex-shrink-0 {
    margin-left: .1rem;
    margin-right: .02rem;
    *display:none
}
 

    .sr-only {
	display:none;
}    
    
 .form-section h2, .form-section h4 {
	font-size: 22px;

}   
    
    .icon-plus, .icon-minus {padding-top: 0.1rem;
}
    
    .flex-copy {margin-bottom: 0.0rem;}

    .tabcontent {
	font-size: 14px;
    font-family: Roboto,sans-serif;
	letter-spacing: .3px;
	color: #f1f1f1 !important;
}
    
    #action-nmm a.btn.inline-flex, #action-manual a.btn.inline-flex {
    height: 2.2rem;
    margin-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
        
}
    
    #action-nmm a.btn.inline-flex:hover, #action-manual a.btn.inline-flex:hover {
    background-color: #b4772c;
        
}
    
    .btn-active:hover, .btn-active:focus {
	background-color: #b8b8b8 !important; 
	color: #e9e9e9 !important;
}
    
    
    .icon-manual {margin-top: 0.0rem}
    
    .btn.inline-flex .icon {display: flex;}
    
    .btn, a.btn, .btn:visited {
	font-size: 12px;
    font-family: Roboto,sans-serif;
	font-weight: 450;
    *margin-bottom: 1.5rem;
    margin-top: 0.6rem;
    *height: 2.4rem;
    text-transform: uppercase;
	border-radius: 0px;
    
}
    
    /* Share Button */
    
    .tabcontent a.btn, div.container a.btn {
    text-transform: uppercase !important;
    background-color: #d98f40;

        
    }    
    a.btn {
        height: 2.1rem;
    }
    
    
    /* Report Button */
    
    a.btn.popup-btn-ajax {
    font-size: 12px;
    font-family: Roboto,sans-serif;
    margin-bottom: -0.25rem;
	margin-top: 0.42rem;
    height: 2.1rem;
    text-transform: uppercase;
	border-radius: 0px;
    color: #fff;
    }
    
    ul.actions li.report-abuse-btn:only-of-type {
	height: 2.4rem;
    margin-bottom: 1.1rem;
    }
    
    /* Report Button and Share Button  */
    /*.btn, a.btn, a.btn.popup-btn-ajax*/
    
    .tabcontent a.btn:hover, div.container a.btn:hover {
    background-color: #b4772c !important;
    
}
  
    .report-abuse-btn, .button-share {
	border: 0px solid var(--stroke-neutral-translucent-moderate);
    border-radius: 0;
}
    
    .report-abuse-btn {
	*padding-bottom:0.4rem;
}
    
    share-button {
	text-transform: uppercase;
}
    
    #button-manage {
	height: 2.2rem;
}

    .accordion dt span.acc-status {
	background-color: #d98f40;
}
    
    .accordion dt span.acc-status:hover {
	background-color: #b4772c;
}
       
    
    .drop-down > .btn {
	background-color: #d98f40;
    color: #f1f1f1 !important;
    border: 0px solid var(--stroke-neutral-translucent-moderate);
}    
    
    .drop-down> .btn:hover  {
	background-color: #b4772c;
} 
    
    .drop-down .subnav .subnavlabel {
	font-size: 14px;
	color: #8b8b8b00;
	text-align: left;
	font-weight: 700;
	padding: 10px 0 0 10px;
}
    
    .btn {
	color: #f1f1f1 !important;
        
}
    
    ul.tags li a.btn, ul.tags li a.btn:visited {
	background-color: #d0d0d0;
    color: #444444!important;
}
    
    
    
   .modactions .btn {
    margin-top: -0.05rem;
	height: 2.4rem;
}
    
    .drop-down ul.sublist {
	list-style: none;
	*margin-top: -1.6rem;
	padding: 0 0 5px;
    background-color: rgb(0, 0, 0);
}
    
    
    .btn-inactive {
	opacity: .5;
	background-color: transparent;
    height: 1.8rem;
}
    
    .inline-flex .icon {
	margin-bottom: 0.0rem;
}
    
    ul.modactions li.dllabel {
	margin-top: 0.6rem;
}
      

	
    .modpage .info-details .sideitem a.btn:last-of-type, .modpage .info-details .sideitem a.btn:only-of-type {
	height: 1.6rem;
}   
    
    .comments ul.actions .btn, .info a.btn {
	margin-top: -0.1rem;
    margin-bottom: 0.1rem;
    height: 1.75rem;
    color: #fff;
    background-color: #d98f40;
    border: 0px solid var(--stroke-neutral-translucent-moderate);
        
}
    
    .comments ul.actions .btn:hover, .info a.btn:hover {
    background-color: #b4772c!important;
    border: 0px solid var(--stroke-neutral-translucent-moderate);
        
}
    
    
    .comment-search {
	margin-top: -1.8rem;
}
    
    body {
	*line-height: 1.0;
        font-size: 12px;

}
    
    #featured #feature #pagetitle {
	position: absolute;
	top: 63%;
}
  
    .rj-btn, a.rj-btn, button.rj-btn {
	border-radius: 0;
}
    
    h2#description_tab_h2 {
	margin-bottom: 1rem;
    margin-top: 2rem;
}
    
    #description_tab_h2 {
	font-size: 30px;
}
    
    ul.actions {
    margin-bottom: -1rem;
}

    .accordion dd {
	background-color: #383838;
        color: #f1f1f1 !important;
}
    
    .accordion dt.accopen {
	background-color: #2d2d2d;
}
    
    .accordion dt {
	background-color: #383838;
}
    
    .accordion dt:hover {
	background-color: #414141;
}
    
    .accordion-downloads a.btn.inline-flex:hover {
	background-color: #b4772c;
}
    
    .accordion-downloads a.btn.inline-flex {
	height: 2.0rem;
    margin-bottom: 1.0rem;
}
       
    .container a, .popup a {
	font-family: Roboto,sans-serif;
    font-weight: 500;
    *margin-top: 0.0rem;
    *margin-bottom: 0.0rem;
}
    
    .tabbed-block:last-of-type {
	margin-top: -0.93rem;
    margin-bottom: 0.0rem;
}
    
    .file-category-header {
	margin-top: 1.9rem;
    margin-bottom: -0.04rem;
}
    
    .new-premium-banner__actions > a.btn {
	height: 2.2rem;
    margin-top: -0.50rem;
    padding-top: 0.62rem;
    margin-bottom: -0.50rem;
} 
    
    .premium-banner a.btn {
    font-size: 12px;
    font-family: Roboto,sans-serif;
	color: #f1f1f1;
	background-color: #d98f40;
	border: 0px solid var(--translucent-dark-500);
    margin-top: -0.50rem;
    padding-top: 0.60rem;
    margin-bottom: -0.50rem;
    height: 2.2rem;
}
    
    .premium-banner a.btn:hover {
	background-color: #b4772c;
}
    
    .comments ul.actions .btn, .info a.btn {
	margin-top: -0.1rem;
	margin-bottom: 0.1rem;
	height: 1.75rem;
	color: #fff;
}
    
    /* Gradient on mod page covers too much of the header image */
	/*#featured #feature .gradient {height: 200px;}*/
	/* Too much padding at bottom of header */
	#featured #pagetitle {padding-bottom: 0.5rem;}

	/* Description tab of mod page has way too much padding */
	.tab-description {padding-top: 1rem; padding-bottom: 1rem;}
	.tab-description ~ .mod_description_container {padding-top: 0;}

	/* "About this mod" text is useless and wastes space */
    #description_tab_h2 {font-family: bebas_neuebook!important;
	font-weight: 400;}
    
    h2 {
	font-family: bebas_neuebook!important;
}

	/* Mod image gallery doesn't need the counter unless we hover */
	#sidebargallery.modimages .counter {transition: opacity 0.33s;}
	#sidebargallery.modimages:not(:hover) .counter {opacity: 0;}

	/* Too much vertical padding around thumbnail gallery */
	#sidebargallery ul.thumbgallery {padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 0.1rem; padding-right: 0.1rem;}

	/* File info area has too much vertical padding; SHOULD BE ZERO! */
	/* Only do this after thumbnail gallery because this is also used for article info that does need padding */
	.modpage .info-details .sidebargallery + #fileinfo {padding-top: 0; padding-bottom: 0;}

	/* Antivirus status has bogus inline styles that add vertical size */
    .modpage #fileinfo .sideitem:last-child > div {height: auto !important; top: unset !important;}
	
	/* Too much padding for tags and we don't need a header */
	/*.modpage .sideitems.side-tags {padding-top: 0.5rem; padding-bottom: 0.5rem;}*/
	.modpage .sideitems.side-tags h2 {font-family: 'bebas_neuebook'; font-size: 1.50rem;}
    

	/* Keep the same color as other links */
	/*.modtabs .alert {color: var(--theme-primary);}*/

	/*
		Share and report buttons should be up in the header, not in the middle of the page wasting
		space. Until these are moved, hide them. (Yes, it does mean you need to turn off the styles
		to report a mod or use the share button. Keep pestering Nexus, politely, to move them.)
	 */
	
	/* Why is there a margin here? Why? */
	.tab-description .accordionitems {margin-bottom: 0;}
	
	/* Comment count on posts tab has needless top padding */
	#comment-count {padding-top: 0;}
	/* Too big a margin below comment page nav */
	.comments .comment-nav {margin-bottom: 0.5rem;}

	/* Article page title area has too much bottom padding, inconsistent with mod page */
	#featured #feature.blank #pagetitle {padding-bottom: 0.5rem;}

	/* Article page background is weirdly bright compared to description */
	.articlepage article {background-color: var(--surface-mid);}

	/* Make numerical lists more like bullet lists so they indent properly */
	ul.content_list_ordered > li {margin-left: 20px;}

	/* Comments below article have extra space they don't need */
	.container ~ #comment-container {padding-top: 0;}

	/* Give back the nice background image */
	body::before {
		background-image: url('/assets/images/default/bg_game_index.jpg');
		height: 100%;
		filter: none;
	}

    
    
	/* Game overview page */

	/* Trending Mods section is huge and needs tweaking */
	section[aria-labelledby="trending-mods-header"] {
		/* 2nd div has the content; 1st has the header */
		& > div:nth-of-type(2) {
			*display:grid;
		    *grid-template-columns: auto 10%;
            justify-content: center;
			/*grid-column-gap: 1.5rem;
			/* Divider we don't need or want */
			/*hr {display: none;}
			/* Smaller section below the two big tiles */
			 /*& > div:nth-of-type(2) {
				*margin: 0;
				*grid-template-columns: repeat(2, minmax(0,1fr));
				*grid-auto-rows: minmax(min-content, 1fr);
				*grid-column-gap: 1.5rem;
				*grid-row-gap: 1rem;
			}*/
		}
	}

    
	/* LOL bye */
	section[aria-labelledby="popular-collections-header"] {
		display: none;
	}

	/*section[aria-labelledby="more-mods-header"] {
		/* Move the time button in More Mods next to the other buttons */
		/*div.flex.sm\:flex-row {
			div:first-child {width: auto;}
			button:nth-child(2) {margin-left: unset;}
		}
	}*/

	.news-grid {
		/* What's up with those huge titles? */
		.typography-heading-sm {font-size: 1.2rem;
	    }
    }
	
    
	/* Theme colors Nexus wanted to remove for some reason */
	body.scheme-theme-ReskinBlue {
		--theme-primary: #57a5cc !important;
		--theme-primary-translucent: #57a5ccd8 !important;
		--theme-secondary: #4584a3 !important;
		--theme-dark: #356983 !important
	}
	body.scheme-theme-Fallout {
		--theme-primary: #92ab20 !important;
		--theme-primary-translucent: #92ab20d8 !important;
		--theme-secondary: #a4c21e !important;
		--theme-dark: #545e24 !important
	}
	body.scheme-theme-Purple {
		--theme-primary: #9561de !important;
		--theme-primary-translucent: #9561ded8 !important;
		--theme-secondary: #a275d3 !important;
		--theme-dark: #4700aa !important
	}
	body.scheme-theme-LighterBlue {
		--theme-primary: #679fd6 !important;
		--theme-primary-translucent: #679fd6d8 !important;
		--theme-secondary: #7ab1e8 !important;
		--theme-dark: #4475a6 !important
	}
	body.scheme-theme-BatmanBlue {
		--theme-primary: #7495b0 !important;
		--theme-primary-translucent: #7495b0d8 !important;
		--theme-secondary: #86aece !important;
		--theme-dark: #296291 !important
	}
	body.scheme-theme-Burgundy {
		--theme-primary: #bf4848 !important;
		--theme-primary-translucent: #bf4848d8 !important;
		--theme-secondary: #e27171;
		--theme-dark: #9d3939
	}
	body.scheme-theme-Teal {
		--theme-primary: #598a9f !important;
		--theme-primary-translucent: #598a9fd8 !important;
		--theme-secondary: #76a3b7 !important;
		--theme-dark: #184a60 !important
	}
	body.scheme-theme-Sepia {
		--theme-primary: #a5704f !important;
		--theme-primary-translucent: #a5704fd8 !important;
		--theme-secondary: #9a7d6b !important;
		--theme-dark: #604331 !important
	}
	body.scheme-theme-Gold {
		--theme-primary: #b99d3e !important;
		--theme-primary-translucent: #b99d3ed8 !important;
		--theme-secondary: #dfba3b !important;
		--theme-dark: #c77f18 !important
	}
	body.scheme-theme-PaleBrown {
		--theme-primary: #8e7f5f !important;
		--theme-primary-translucent: #8e7f5fd8 !important;
		--theme-secondary: #a68f5e !important;
		--theme-dark: #584a2d !important
	}
	body.scheme-theme-DeepOrange {
		--theme-primary: #e6832b !important;
		--theme-primary-translucent: #e6832bd8 !important;
		--theme-secondary: #faa431 !important;
		--theme-dark: #a7540a !important
	}
	body.scheme-theme-DarkYellow {
		--theme-primary: #b7b60f !important;
		--theme-primary-translucent: #b7b60fd8 !important;
		--theme-secondary: #e7d528 !important;
		--theme-dark: #e09d05 !important
	}
	body.scheme-theme-DarkRose {
		--theme-primary: #976060 !important;
		--theme-primary-translucent: #976060d8 !important;
		--theme-secondary: #bf8282 !important;
		--theme-dark: #6a1f1f !important
	}
	body.scheme-theme-VioletBlue {
		--theme-primary: #576eca !important;
		--theme-primary-translucent: #576ecad8 !important;
		--theme-secondary: #a4a9e1 !important;
		--theme-dark: #4955da !important
	}
	body.scheme-theme-Brown {
		--theme-primary: #502c15 !important;
		--theme-primary-translucent: #502c15d8 !important;
		--theme-secondary: #996240 !important;
		--theme-dark: #3a1b07 !important
	}
	body.scheme-theme-Sienna {
		--theme-primary: #8f482c !important;
		--theme-primary-translucent: #8f482cd8 !important;
		--theme-secondary: #bc6d4e !important;
		--theme-dark: #531f0b !important
	}
	body.scheme-theme-TankGrey {
		--theme-primary: #a7a785 !important;
		--theme-primary-translucent: #a7a785d8 !important;
		--theme-secondary: #969673 !important;
		--theme-dark: #41412c !important
	}
	body.scheme-theme-MossGreen {
		--theme-primary: #9d9d5a !important;
		--theme-primary-translucent: #9d9d5ad8 !important;
		--theme-secondary: #c6c665 !important;
		--theme-dark: #426535 !important
	}
	body.scheme-theme-DeepBlue {	/* Skyrim SE */
		--theme-primary: #8197ec !important;
		--theme-primary-translucent: #8197ecd8 !important;
		--theme-secondary: #a4b7ff !important;
		--theme-dark: #0e37da !important
	}
	body.scheme-theme-MediumBrown {
		--theme-primary: #b36f3a !important;
		--theme-primary-translucent: #b36f3ad8 !important;
		--theme-secondary: #7f613a !important;
		--theme-dark: #502706 !important
	}
	body.scheme-theme-Salmon {
		--theme-primary: #fc4f49 !important;
		--theme-primary-translucent: #fc4f49d8 !important;
		--theme-secondary: #ff5f54 !important;
		--theme-dark: #ee0013 !important
	}
	body.scheme-theme-RDR2Red {
		--theme-primary: #dc1a0e !important;
		--theme-primary-translucent: #dc1a0ed8 !important;
		--theme-secondary: #cc0019 !important;
		--theme-dark: #cc0019 !important
	}

/*    .news-grid {
	-moz-column-gap: 0.7rem;
	column-gap: 0.7rem;
    -moz-row-gap: 0.7rem;
	row-gap: 0.7rem;
    grid-template-columns: repeat(auto-fill,minmax(16rem,1fr));
    background-color: #383838;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
} */

.sm\:gap-x-14 {
	margin-bottom: -1.0rem;
    padding-right: 7.5rem;
    padding-top: 5.5rem;
    padding-left: 1.0rem;
    background-color: #383838;
}
    
    .sm\:w-full {
	width: 100%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-bottom: -1.9rem!important;
}
    
    .pb-3 {
	padding-left: 5.0rem;
}
    
   .py-8 {
	padding-top: 4rem;
}
    
    
    .my-3 {
	padding-right: .50rem;
	padding-left: .50rem;
    background-color: #383838;
}
    
 
    
    .typography-title-xs {
	padding-left: .50rem;
}
    
    .space-y-6 > :not([hidden]) ~ :not([hidden]) {
	margin-top: 0.5rem;
}
    
    .media-grid {
	-moz-column-gap: 0.7rem;
	column-gap: 0.7rem;
    -moz-row-gap: 1.0rem;
	row-gap: 1.0rem;
    grid-template-columns: repeat(auto-fill,minmax(15.2rem,1fr));
    background-color: #383838;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    *margin-bottom: 2.0rem!important;
        
}
    
    .mods-grid {
	padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
} 
    
    
    .mods-grid, .news-grid {
	margin-top: 0.5rem;
	}

    
    .news-grid {
    margin-bottom: 10.0rem!important;
        
	}
    
    .pt-4 {
	padding-top: 0.0rem;
}

    .text-neutral-strong, .text-neutral-strong:hover {
    *background-color: #fff0;
    *color: #e1e1e1;
    font-family: var(--font-inter),ui-sans-serif,system-ui,sans-serif!important;
    *border-radius: .75rem;
    /*font-family: Inter,sans-serif;
    *text-transform: uppercase;
    *font-stretch: ultra-condensed;
    *font-weight: 400;
    *letter-spacing: -.2px;*/             
} 
    
    .justify-between {
    *padding-top: 0.4rem;
    *padding-bottom: 0.4rem;  
}
    
    .pt-16 {
	padding-top: 0.6rem;
    *background-color: #383838;
}
    
    .rounded-full {
	border-radius: 0px!important;
    border-color: #656464;
}

    .rounded {
	border-radius: .0rem!important;
}
    
             
    .mt-8, .my-8 {
	padding-top: 1.5rem;
    *padding-bottom: 0.5rem;
    *margin-top: 0rem;
    *margin-bottom: -1rem;
}
    
    
.sm\:grid-cols-2 {
    margin-top: 0.6rem;
    padding-left: 8.5rem;
    padding-right: 8.5rem;
    -moz-column-gap: 0.7rem;
	column-gap: 0.7rem;
    -moz-row-gap: 0.7rem;
	row-gap: 0.7rem;
}    

.sm\:space-y-6 > :not([hidden]) ~ :not([hidden]) {
	margin-top: calc(-0.1rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
    padding-bottom: 1.0rem;
    padding-left: 8.5rem;
    padding-right: 8.5rem;
    -moz-column-gap: 0.7rem;
	column-gap: 0.7rem;
    -moz-row-gap: 0.7rem;
	row-gap: 0.7rem;
    align-items: center;
} 
    
    .md\:space-y-6 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.7rem * calc(1 - var(--tw-space-y-reverse)));
    padding-left: 8.5rem;
    padding-right: 8.5rem;
    margin-bottom:-6rem;
        
}
    
     
.md\:gap-x-6 {
	-moz-column-gap: 0.7rem;
	column-gap: 0.7rem;
}    
    
hr {
	height: auto;
	color: inherit;
	border-top-width: 0px;
}  
    
    
.mb-4 {
	*background-color: #383838;
    *margin-bottom: -0.6rem;
    *padding-top: 0.6rem;
    *padding-left: 0.6rem;
    padding-right: 0.6rem;
}
 
.mb-6 {
    
    padding-top: 0.3rem;
} 
    
    .-my-1 {
	margin-top: -.25rem;
	margin-bottom: -.25rem;
}
 
    .to-primary-subdued {
    *margin-top: 8.2rem;
}
   .to-primary-subdued {
	*margin-top: 1.6rem;
}

    .sm\:items-center {
    padding-bottom: 0.2rem;
}    
    
  
.typography-heading-sm {
	font-size: 1.5rem;
    font-family: var(--font-inter),ui-sans-serif,system-ui,sans-serif;  
	font-weight: 550;
    *text-transform: uppercase;
    font-stretch:condensed;
      
}    

.pr-2, .px-1\.5 {
	margin-bottom: .15rem;
}

.after\:from-surface-base::after {
	content: var(--tw-content);
	--tw-gradient-from: #0f0f1000 var(--tw-gradient-from-position);
	--tw-gradient-to: rgba(15,15,16,0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    
}
    
.pt-20 {padding-top: 2.5rem;}
 
.to-primary-subdued {
	margin-top: 2.2rem;
}    
 
#mainContent {
  & > div.relative > div.next-container-fluid {
    background-color: #383838;
      margin-top: -0.5rem;
  }

}    

.from-surface-base\/60 {
	*background:rgb(56, 56, 56);
}  
    
.sm\:to-75\% {
--tw-gradient-to-position: 70%;
}
     
.hidden {
	*display: flex
}    
 
.rotate-45 {
	display:none;
} 
 
/*bell*/
.pt-0\.5 {
	padding-left: 0rem;
}  
   
   .flex-wrap {
	padding-top: 0.9rem;

} 
    
}
